.create-list-a404beb3 {
  color: white;
  width: 272px;
  border-radius: 3px;
  cursor: pointer;

  input {
    width: 100%;
  }

  &.button {
    background-color: rgba(0,0,0,.12);
    margin-top: 0;
    &:hover {
      background-color: rgba(0,0,0,.2);
    }

    & > * {
      padding: 8px 6px;
    }
  }

  &.form {
    background-color: $secondary-color;
    padding: 5px;
  }
}