.modal-item-d152e7b8 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, .6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;

  .wrapper {
    margin: 200px 0 80px;
    background-color: $secondary-color;
    padding: 2% 3%;
    width: 768px;
    max-width: 90%;
    z-index: 50;
    border-radius: 3px;

    h2 {
      margin: 0;
    }

    .row {
      margin-bottom: 24px;
    }

    textarea {
      width: 100%;
      min-height: 140px;
      resize: none;
      overflow-wrap: break-word;
    }
  }
}